geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
numpy==1.21.4
pandas == 1.3.5
plotly==5.4.0
plotly-express==0.4.1
seaborn==0.11.2
statsmodels==0.13.0
streamlit==1.2.0
streamlit-folium==0.4.0
folium==0.12.1
Fiona==1.8.18
